body{
  background-color: #342F59;
  color: #FF91CD;
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  margin: 0;
  padding: 0;
  touch-action: none;
}

p{
  text-shadow: 10px 10px 0px black;
  user-select: none;
}

.container{
  border: 4px solid #FF91CD;
  border-radius: 10px;
  width: 98vw;
  height: 94vh;

  margin: 1%;

  text-align: center;
}

.heart{
  height: 32%;
  padding-top: 6%;

}

.dedicatoria{
  font-size: 60px;

}

.dedicatoria p{
    text-shadow: none;
}

.letter{
  padding-right: 10px;
  padding-left: 10px;
}

.letter p{
  text-shadow: none;
  font-size: 0.6em;
}
