body{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}

a:visited, a:active, a:link{
  text-decoration: none;
  color: #252c41;
}

header{
  position: fixed;
  background-color: #252c41;
  width: 100%;
  height: 350px;
}

header div{
  height: 220px;
  border-bottom: 2px solid #ddefe6;
  color: #f1404b;
}

header div p, header div img{
  display: inline-block;
  margin-top: 6%;
}

header div img{
  width: 20%;
  margin: 2%;
}

header div p{
  width: 50%;
  text-align: center;
  font-size: 2em;
}

header nav p{
  color: #dddfe6;
  display: inline-block;
  font-size: 1.4em;
  padding-top: 2%;
  height: 130px;
  text-align: center;
}

header nav p:first-child{
  border-right: 2px solid #dddfe6;
  width: 52%;
}

header nav p:nth-child(2){
  width: 46%;
}

main{
  padding-top: 350px;
}
main section {
  height: 350px;
  background-color: #dddfe6;
  color: #252c41;
  border-bottom: 3px solid #252c41;
  font-size: 2em;
}

main section p, main section i{
  display: inline-block;
}
main section p{
  padding-left: 6%;
  padding-top: 10%;
}

main section i {
  float: right;
  padding-right: 6%;
  padding-top: 7%;
}

/*------ MEDICAMENTOS ------*/
.medicamento{
  color: #252c41;
}
/* Primer atributo -- Nombre + votos */
.atributo{
  font-size: 2em;
  height: 150px;
}

.atributo > *{
  display: inline-block;
}

.atributo p:first-child{
  width: 67%;
  padding-top: 1%;
  padding-left: 6%;
}

.atributo p:nth-child(2){
  width: 20%;
  color: #f1404b;
}

/* Segundo atributo -- Consigue + Empuja */
.atributob{
  font-size: 2em;
  display:none;
}

.atributob a{
  display: inline-block;
  width: 40%;
  text-align: center;
  margin-left: 6%;
  margin-bottom: 2%;
}

.atributo a:visited, .atributo a:active, .atributo a:link{
  text-decoration: none;
  color: #252c41;
}

.empujaOff{
  color: #dddfe6;
}
