body{
  margin: 0;
  padding: 0;
  color: white;
  font-size: 40px;
}

header{
  position: fixed;
  background-color: #252c41;
  width: 100%;
  height: 350px;
}

header div{
  height: 220px;
  border-bottom: 2px solid #ddefe6;
  color: #f1404b;
}

header div p, header div img{
  display: inline-block;
  margin-top: 6%;
}

header div img{
  width: 20%;
  margin: 2%;
}

header div p{
  width: 60%;
  font-size: 1.7em;
}

header nav p{
  color: #dddfe6;
  display: inline-block;
  font-size: 1.4em;
  padding-top: 2%;
  height: 130px;
  text-align: center;
}

header nav p:first-child{
  border-right: 2px solid #dddfe6;
  width: 52%;
}

header nav p:nth-child(2){
  width: 46%;
}
